@import '~@ergeon/core-components/src/components/variables.scss';

$panel-height: $v-48 + 2 * $v-12;

.mobile-bottom-panel {
  &__wrapper {
    display: none;
  }

  @include phone() {
    &__wrapper {
      display: block;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: $z-index-super-top;
    }

    &__content {
      background-color: $white;
      width: 100%;
      height: $panel-height;
      padding: $v-12 $h-20;
      box-shadow: 0 0 $v-12 0 $black-opacity;
      transform: translateY($panel-height);
      transition: transform 0.5s ease-in-out;
      &.is-visible {
        transform: translateY(0);
      }

      button {
        width: 100%;
      }
    }
  }
}
