@import '@ergeon/core-components/src/components/variables.scss';

.signin-page {
  margin: 60px auto 0;

  .icon-lock {
    width: 20px;
  }

  &__form-header {
    color: $gray-1;
  }

  &__form {
    background: #fff;
    border: 1px solid #e4e9e2;
    border-radius: 12px;
    max-width: 475px;
    padding: 50px 100px;
    margin: auto;
    width: 100%;
    position: relative;

    @include phone() {
      padding: 25px;
    }
  }

  a {
    cursor: pointer;
  }
}

.signin-form {

  button {
    width: 100%;
  }

  .signin-form-field {
    height: auto;
    position: relative;

    &.is-error {
      input {
        border-color: $red;
        background-color: $white;
        color: $red;
      }
      .react-select__control {
        border-color: $red;
        background-color: $white;
      }
    }

    & + .signin-form-field {
      margin-top: 32px;
    }
  }
  .signin-form-actions {
    margin-top: 30px;
    position: relative;
  }
  .signin-form-error {
      margin-top: 4px;
      font-size: $font-label-size;
      color: $red;
      font-family: $font-content;
      letter-spacing: 0;
      line-height: $line-height-label;
      text-align: left;
  }
  .signin-form-footer {
    font-size: 12px;
    color: $gray-1;
  }

  @include phone-small {
    h1 {
      font-size: 6vw;
    }
    input {
      height: 48px;
    }
    .signin-form-field {
       height: 56px;
    }

    .signin-form-actions {
      margin-top: 24px;
    }
  }
}
