@import '@ergeon/core-components/src/components/variables.scss';

.signin-page {
  .icon-lock {
    width: 20px;
  }

  &__form-header {
    color: $gray-1;
  }

  .single-card-page__content {
    padding: 50px 100px;

    @include phone() {
      padding: 25px;
    }
  }
}

.signin-form {
  button {
    width: 100%;
  }

  .signin-form-actions {
    margin-top: 30px;
    position: relative;
  }
  .signin-form-error {
    margin-top: 4px;
    font-size: $font-label-size;
    color: $red;
    font-family: $font-content;
    letter-spacing: 0;
    line-height: $line-height-label;
    text-align: left;
  }
  .signin-form-footer {
    font-size: 12px;
    color: $gray-1;
  }

  @include phone-small {
    h1 {
      font-size: 6vw;
    }
    input {
      height: 48px;
    }

    .signin-form-actions {
      margin-top: 24px;
    }
  }
}
