@import '@ergeon/core-components/src/components/variables.scss';

.signin-page {
  margin: $v-124 0 $v-64;

  @include phone() {
    margin: $v-88 0 $v-124;

    .card {
      border: none;
    }
  }

  .icon-lock {
    width: 20px;
  }

  &__form-header {
    color: $gray-1;
  }

  .single-card-page__content {
    padding: 50px 100px;

    @include phone() {
      padding: 25px;
    }
  }
}
