@import '@ergeon/core-components/src/components/variables.scss';
.promo-block {
  display: grid;
  grid-gap: $h-60;
  align-items: start;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  margin-top: 90px;
  @include phone() {
    margin-top: $v-48;
    grid-gap: $v-24;
  }
  &__img-container {
    border-radius: 12px;
    border: 1px solid $gray-5;
    overflow: hidden;
    @include phone() {
      max-width: 100%;
    }
    img {
      width: 100%;
    }
  }
  &__content {
    height: 100%;
    display: flex;
    align-items: center;
    a {
      margin-top: 24px;
    }
  }
}
