@import '@ergeon/core-components/src/components/variables.scss';
.qa-section {
  margin-top: $v-64 - 4;
  h2 {
    @include tablet {
      font-size: $h4-size;
      line-height: $h4-line-height;
      font-weight: 600;
    }
  }
  @include phone() {
    margin-top: $v-30;
  }
  .h3 {
    margin-bottom: $v-36;

    @include phone() {
      margin-bottom: $v-12;
    }
  }
  &__questions-wrapper {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    margin-bottom: $v-24;

    @include phone() {
      flex-direction: column;
      margin-bottom: $v-12;
    }
  }
  &__question {
    max-width: calc(50% - $v-30);
    width: 30%;
    @include phone() {
      max-width: 100%;
      width: 100%;
      margin-bottom: $v-12;
    }
    h3 {
      @include tablet {
        font-size: $font-mobile-size;
        line-height: $line-height-mobile;
        padding-bottom: $v-6;
      }
    }
    p {
      @include tablet {
        font-size: $font-mobile-size;
        line-height: $line-height-mobile;
      }
    }
    h6 {
      margin-bottom: $v-12;

      @include phone() {
        margin-bottom: $v-6;
      }
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        margin-bottom: $v-12;
        position: relative;
        &:before {
          color: $gray-2;
          content: '\2022';
          display: inline-block;
          font-size: $h4-size - 2;
          left: -($h-20 - $h-5);
          position: absolute;
          top: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .link {
      color: $brand-color-1;
      cursor: pointer;
      font-weight: 600;
      text-decoration: none;
      transition: all 200ms ease;

      &:hover {
        color: darken($brand-color, 15%);
        text-decoration: none;
      }
    }
  }
  &__loader {
    text-align: center;
    width: 100%;
  }
}
