@import '@ergeon/core-components/src/components/variables.scss';
.qa-section {
  margin-top: 60px;
  @include phone() {
    margin-top: 30px;
  }
  .h3 {
    margin-bottom: $v-36;

    @include phone() {
      margin-bottom: $v-12;
    }
  }
  &__questions-wrapper {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    margin-bottom: $v-24;

    @include phone() {
      flex-direction: column;
      margin-bottom: $v-12;
    }
  }
  &__question {
    max-width: calc(50% - 30px);
    width: 30%;
    @include phone() {
      max-width: 100%;
      width: 100%;
      margin-bottom: $v-12;
    }
    h6 {
      margin-bottom: 12px;

      @include phone() {
        margin-bottom: $v-6;
      }
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        margin-bottom: 12px;
        position: relative;
        &:before {
          color: $gray-2;
          content: '\2022';
          display: inline-block;
          font-size: 20px;
          left: -15px;
          position: absolute;
          top: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .link {
      color: $brand-color-1;
      cursor: pointer;
      font-weight: 600;
      text-decoration: none;
      transition: all 200ms ease;

      &:hover {
        color: darken($brand-color, 15%);
        text-decoration: none;
      }
    }
  }
  &__loader {
    text-align: center;
    width: 100%;
  }
}
