@import '@ergeon/core-components/src/components/variables.scss';

.TestimonialBanner {
  height: auto;
  width: 100%;
  margin-top: $v-12;
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  
  &::-webkit-scrollbar {
    display: none;
  }

  @include phone {
    width: auto;
    margin: 0 -1 * $h-20;
    padding: $v-12 $h-20;
  }

  &-Badge {
    display: flex;
    flex-direction: column;
    max-width: $h-80;
    width: 100%;
    padding-bottom: $v-12;
    text-align: center;

    img {
      max-height: $v-30 - 2;
    }

    @include phone {
      width: max-content;
      padding-left: $h-5;
      margin-right: $h-60 - $h-10;
      font-size: $font-mobile-size;
    }
  }

  .badge--txt {
    font-size: $font-label-size;
    white-space: nowrap;
  }

  .is {
    &-grey {
      color: $gray-2;
    }
  }
}
