@import '~@ergeon/core-components/src/components/variables';

$img-max-width: 128px;

.ImgContainer {
  width: 150%;
  overflow: hidden;
  @include tablet() {
    max-width: $img-max-width;
  }

  img {
    width: 100%;
    @include border-soft();
    @include phone {
      display: none;
    }
  }
}

.is-RightMargin {
  &--20 {
    margin-right: $h-20;
  }
}

.is-Before {
  &--60 {
    margin-top: $h-60;
  }

  &--36 {
    margin-top: $v-36;
  }

  &--16 {
    margin-top: $v-16;
  }
}

.is-After {
  &--24 {
    margin-bottom: $v-24;
  }
}
