@import '~@ergeon/core-components/src/components/variables';

@mixin add-big-margins {
  margin-top: 120px;
  margin-bottom: 120px;
  @include tablet() {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.is-RightMargin {
  &--20 {
    margin-right: $h-20;
  }
}

.is-Before {
  &--60 {
    margin-top: $h-60;
  }

  &--36 {
    margin-top: $v-36;
  }

  &--16 {
    margin-top: $v-16;
  }
}

.is-After {
  &--24 {
    margin-bottom: $v-24;
  }
}
