@import '@ergeon/core-components/src/components/variables.scss';
@import '../../utils';

.get-started {
  @include add-big-margins();
  &__content {
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 20px;
    ol {
      margin-top: $v-24;
    }
    li {
      padding: 0;
    }
    @include phone() {
      margin-bottom: 30px;
    }
  }
  &__img-container {
    width: 100%;
    max-width: 560px;
    border-radius: $corner-soft;
    overflow: hidden;
    @include tablet() {
      max-width: 380px;
    }
    @include phone() {
      max-width: 100%;
      max-height: 360px;
    }
    img {
      width: 100%;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    @include phone() {
      flex-direction: column;
    }
  }
  &__features {
    margin-top: 60px;
    display: flex;
    @include phone() {
      margin-top: 30px;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__feature {
      border-radius: $corner-soft;
      background-color: $brand-color-3;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-right: 10px;
      margin-left: 10px;
      width: 280px;
      height: 128px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      img {
        margin-bottom: $v-12;
      }
      @include phone() {
        width: 48%;
        margin: 10px 0;
      }
    }
  }
}
