@import '@ergeon/core-components/src/components/variables.scss';
@import '../../utils';

.GetStarted {
  @include add-big-margins();
  &-Wrapper {

    display: flex;
    justify-content: space-between;
    @include tablet() {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &-Content {
    align-items: center;
    width: 100%;
    ol {
      margin-top: $v-24;
    }
    li {
      padding: 0;
      @include tablet() {
        font-size: $font-mobile-size;
        line-height: $line-height-mobile;
      }
    }
    h2 {
      @include tablet() {
        font-size: $h4-size;
        line-height: $h4-line-height;
        text-align: center;
      }
    }
    @include tablet() {
      width: unset;
      margin-bottom: $v-48;
    }
  }
  &-ImgContainer {
    width: 100%;
    border-radius: $corner-soft;
    overflow: hidden;
    max-width: 540px;
    @include phone() {
      max-width: 100%;
    }
  }
  &-Image {
    width: 100%;
  }
}
