@import '@ergeon/core-components/src/components/variables.scss';

.ContactUsForm {
  margin: 0;
  h1 + p {
    margin-top: -20px;
    margin-bottom: 30px;
    text-align: center;
  }

  button {
    width: 100%;
  }

  .Form-header {
    padding-top: $h-10;
    margin: 0 auto;
  }

  .Form-actions {
    border-top: 1px solid $gray-4;
    padding-top: 25px;
    position: relative;

    .Form-error {
      margin-top: 6px;
    }
  }

  .Form-error {
    margin: 4px 0 $v-12 0;
    font-size: $font-label-size;
    color: $red;
    font-family: $font-content;
    letter-spacing: 0;
    line-height: $line-height-label;
    position: relative;
    text-align: left;
  }

  .Form-footer {
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    margin-top: 30px;
  }

  @include phone() {
    h1 {
      font-size: 6vw;
    }
    input {
      height: 48px;
    }
    .Form-field {
      height: 56px;
    }
  }
}

@keyframes fs-zoom {
  from {
    opacity: 0;
    transform: translateY(20%) scale(0);
  }
}

@keyframes fs-fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
