@import '@ergeon/core-components/src/components/variables.scss';

.ContactUsForm {
  margin: 0;
  h1 + p {
    margin-top: -1 * $v-20;
    margin-bottom: $v-30;
    text-align: center;
  }

  button {
    width: 100%;
  }

  .Form-header {
    padding-top: $h-10;
    margin: 0 auto;
  }

  .Form-actions {
    border-top: 1px solid $gray-4;
    padding-top: 1 + $v-24;
    position: relative;

    .Form-error {
      margin-top: $v-6;
    }
  }

  .Form-error {
    margin: $v-6 - 2 0 $v-12 0;
    font-size: $font-label-size;
    color: $red;
    font-family: $font-content;
    letter-spacing: 0;
    line-height: $line-height-label;
    position: relative;
    text-align: left;
  }

  .Form-footer {
    text-align: center;
    font-size: $font-label-size;
    margin-top: $v-30;
  }

  @include phone() {
    h1 {
      font-size: 6vw;
    }
    input {
      height: $v-48;
    }
    .Form-field {
      height: $v-48 + 8;
    }
  }

  .CitySearchInput {
    max-width: 100%;

    &-Wrapper {
      input{
      height: $v-48;
      padding: $v-24 $v-12 $v-12;
      font-size: $font-mobile-size;
    }

    & input:focus{
      & ~ .label {
        font-size: $font-label-size;
      }
    }

    & input:not(:placeholder-shown){
      & ~ .label {
        font-size: $font-label-size;
      }
    }
  }

    &-Button {
      display: none;
    }

    .label {
      top: $v-12 + 1;
      font-size: $font-mobile-size;
      left: 0;
      margin-left: $h-10 + 2;
    }
  }
}

@keyframes fs-zoom {
  from {
    opacity: 0;
    transform: translateY(20%) scale(0);
  }
}

@keyframes fs-fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
