@import "@ergeon/core-components/src/components/variables.scss";

.contact-us-page {
  a {
    color: rgba(0, 0, 0, 0.75);

    &:hover {
      color: #000000;
    }
  }

  .shadow-block {
    box-shadow: 0 50px 50px 0 $gray-6, 0 2px 0 0 $gray-5;
    border-bottom: 1px solid $gray-5;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    margin: 24px 0;

    .subtext {
      margin-top: 10px;
      font-size: 20px;
    }

    @include phone() {
      flex-direction: column;
    }
  }

  &__body {
    padding: $h-20;
    min-height: 400px;

    @include phone() {
      min-height: inherit;
    }
  }

  .email {
    padding-top: $h-10;
  }

  .phone {
    padding-top: $h-20;
  }

  .contact-us-area {
    display: flex;
    justify-content: space-between;
  }

  &__contact-us-form {
    position: absolute !important;
    z-index: 1;
    margin-left: -500px;
    margin-top: -50px;
    max-width: 500px;
    padding: 60px;
    width: 100%;

    @include phone() {
      margin: 20px 0 auto;
      position: inherit !important;
      padding: 30px 0 0 0;
      border: none !important;
      max-width: none;
      width: 100%;
    }
  }

  .wrapper-480 {
    max-width: 480px;
  }
}
