@import "~@ergeon/core-components/src/components/variables";

.careers-page__img-container {
  width: 100%;
  box-shadow: 0 0 0 1px $gray-4;
  border-radius: 4px;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include phone() {
    flex-direction: column;
    grid-template-columns: minmax(100px, 1fr) !important;
  }
  &__card {
    height: 100%;
    padding: 40px;
    border-radius: $corner-soft;
    border: 1px solid $gray-5;
    margin-bottom: $v-24;
    background-color: $gray-6;
    position: relative;
    z-index: 1;
    @include phone() {
      width: 100%;
      margin-bottom: 12px;
    }
    &__title {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0px;
    }
  }
}
