@import '~@ergeon/core-components/src/components/variables';
.job-board {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .loading-placeholder {
    margin: 0 auto;
    display: none;
    &.visible {
      display: block;
    }
  }
  padding-bottom: $v-24;
}
.job-list {
  height: 100%;
  padding: 40px;
  border-radius: $corner-soft;
  border: 1px solid $gray-4;
  background-color: $white;
  position: relative;
  &__department {
    margin-bottom: $v-12;
  }
  &__job {
    margin-bottom: $v-6;
  }
}
