@import '~@ergeon/core-components/src/components/variables';
.job-board {
  .loading-placeholder {
    margin: 0 auto;
    display: none;
    &.visible {
      display: block;
    }
  }
  margin: 0 auto;
  width: 100%;
  max-width: 940px;
  padding-bottom: $v-64;
}
.job-list {
  position: relative;
  &__department {
    padding-bottom: $v-12;
    padding-top: $v-30;
    border-bottom: 1px solid $gray-5;
  }
  &__job {
    display: flex;
    padding: $v-16 0;
    border-bottom: 1px solid $gray-5;
    justify-content: space-between;
    align-items: center;
    &__location {
      text-align: right;
    }
  }
}
