@import '~@ergeon/core-components/src/components/variables';

.cards-stats {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  text-align: left;
  height: 100%;

  &-title {
    display: flex;
    flex:1;
    flex-direction: column;

    .additional-header{
      font-weight: 600;
    }
  }

  &-image {
    width: $v-64;
    margin-right: $h-20;

    img {
      width: 100%;
    }
  }

  &-description {
    line-height: 1.5;
    margin: $v-6 0 0;
  }
}
