@import '@ergeon/core-components/src/components/variables.scss';
@import '../../utils';

.GetStarted {

  &-Wrapper {
    @include add-big-margins();
    display: flex;
    justify-content: space-between;
    @include tablet() {
      flex-direction: column-reverse;
    }
  }
  &-Content {
    align-items: center;
    width: 100%;
    ol {
      margin-top: $v-24;
    }
    li {
      padding: 0;
    }
  }
  &-ImgContainer {
    width: 100%;
    border-radius: $corner-soft;
    overflow: hidden;
    max-width: 540px;
    @include phone() {
      max-width: 100%;
    }
  }
  &-Image {
    width: 100%;
  }
}
