@import '~@ergeon/core-components/src/components/variables.scss';

.TellUsForm {
  display: flex;
  background-color: $gray-5;
  flex-flow: column;
  align-items: center;
  margin: 0;
  padding: $h-60 0;

  &-Wrapper {
    width: 30%;

    h2 {
      @include tablet() {
        font-size: $h4-size;
        line-height: $h4-line-height;
      }
    }

    p {
      @include tablet() {
        font-size: $font-mobile-size;
        line-height: $line-height-mobile;
      }
    }

    @include tablet() {
      width: 45%;
    }

    @include phone() {
      width: 90%;
    }
  }

  .TellUsForm-Header {
    font-weight: 600;
    margin-bottom: $v-12;
    text-align: center;
  }

  &-Text {
    text-align: center;
    margin-bottom: $v-20;
    padding: 0 $h-20;
  }

  &-Success {
    margin: $h-40;

    &--isEmailSent {
      display: flex;
      justify-content: center;
      font-size: $font-regular-size;
      font-weight: bold;
      text-align: center;
    }
  }
}
