@import '@ergeon/core-components/src/components/variables.scss';

.address-popup {
  &.Popup .Popup-content {
    padding: $v-20;
  }

  .Popup-header {
    display: flex;
    align-items: center;
    margin-bottom: $h-10;
    h4 {
      font-size: $h5-size;
    }
    svg {
      width: $v-16;
      height: auto;
      margin-right: $h-10;
      path {
        fill: $blue-1;
      }
    }
  }

  .AddressInput {
    input {
      height: $v-48;
      padding-left: $h-10;
      font-size: $font-label-size + 1;

      &:focus {
        & + label {
          transform: translate(0, -9px);
          font-size: $h-10 + 1;
        }
      }
    }

    label {
      top: $h-10;
      font-size: $font-mobile-size;
      left: $h-10;
    }

    &.is-hasValue {
      label {
        transform: translate(0, -9px);
        font-size: $h-10 + 1;
      }
    }
  }

  .Separator {
    margin: $h-20 0;
    border: none;
    border-top: 1px solid #d8d8d8;
  }

  .Buttons {
    display: flex;
    justify-content: flex-end;

    .button {
      margin-left: $h-10;
    }
  }

  .submit-button {
    min-width: $h-120 + $h-20;

    &[disabled] {
      cursor: default;

      &:hover {
        background-color: $gray-4;
      }
    }
  }
}
