@import '~@ergeon/core-components/src/components/variables.scss';
.Popup {
  position: fixed !important;
  top: 0;
  right: 0;
  overflow-x: hidden;
  padding: $h-10;
  overflow-y: auto;
  bottom: 0;
  left: 0;
  font-family: $font-content;
  z-index: $z-index-super-top + 1;

  .Popup-content {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: $h-120 + $h-40;
    background: $white;
    padding: $h-60;
    max-width: $h-120 * 4;
    box-shadow: 0 5px 50px $gray-1;
    overflow: auto;
    animation: fs-zoom 0.4s forwards ease 1;
    border-radius: $corner-default;
  }

  .Popup-overlay {
    background: rgba(8, 34, 20, 0.4);
    position: fixed;
    animation: fs-fadein 0.4s forwards ease 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .Popup-close {
    position: absolute;
    top: $v-16;
    right: $v-16;
    width: $v-24;
    height: $v-24;
    text-align: center;
    font-size: $h4-size + 2;
    line-height: $h6-line-height;
    cursor: pointer;
    color: $gray-2;
    transition: all 0.2s ease-out;
    &:hover {
      color: $gray-1;
    }
  }

  @include phone {
    .Popup-content {
      margin-top: $h-120;
      padding: $h-20 + $h-10;
    }
    .Popup-close {
      font-size: $h4-size;
      top: $v-6 + 2;
      right: $v-6 + 2;
    }
  }
  @include phone-small {
    .Popup-content {
      margin-top: $h-80 + $h-20;
      padding: 30px $h-20;
    }
  }
}

.Form {
  margin-block-end: unset;
  button {
    width: 100%;
  }
  .Form-action-links {
    margin-top: $v-24;
    .action-link {
      font-size: $font-mobile-size;
      line-height: $line-height-mobile;
      background: url(../../assets/icon-plus.svg) no-repeat left center;
      padding-left: $v-16 + 2;
    }
    .label {
      padding-left: $v-16 + 2;
    }
    .add-config__disable {
      display: none;
    }
  }

  .Form-actions {
    margin-top: $v-24;
    position: relative;
    .newsletter-checkbox {
      filter: grayscale(1);
      label {
        padding-top: $corner-default;
      }
    }

    .Form-error {
      margin-top: $v-6;
    }
  }
  .Form-error {
    margin-top: $v-6;
    font-size: $font-label-size;
    color: $red;
    font-family: $font-content;
    letter-spacing: 0;
    line-height: $line-height-label;
    text-align: left;
  }
  .Form-footer {
    text-align: center;
    font-size: $font-label-size;
    line-height: $line-height-label + 2;
    margin-top: $h-20 + $h-10;
  }
}

.NoScroll {
  overflow: hidden;
  position: fixed;
  width: 100%;

  & > * {
    //position: relative;
  }
}

@keyframes fs-zoom {
  from {
    opacity: 0;
    transform: translateY(20%) scale(0);
  }
}
@keyframes fs-fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.LeadForm {
  h1 + p {
    margin-top: -$h-20;
    margin-bottom: $h-20 + $h-10;
    text-align: center;
  }
}
