@import '@ergeon/core-components/src/components/variables.scss';
.Popup {
  position: fixed !important;
  top: 0;
  right: 0;
  overflow-x: hidden;
  padding: 10px;
  overflow-y: auto;
  bottom: 0;
  left: 0;
  z-index: 9999999990;
  font-family: $font-content;

  .Popup-content {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    background: $white;
    padding: 60px;
    max-width: 480px;
    box-shadow: 0 5px 50px $gray-1;
    overflow: auto;
    animation: fs-zoom .4s forwards ease 1;
    border-radius: 4px;
  }

  .Popup-overlay {
    background: rgba(8,34,20,.4);
    position: fixed;
    animation: fs-fadein .4s forwards ease 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .Popup-close {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
    text-align: center;
    font-size: 24px;
    line-height: 20px;
    cursor: pointer;
    color: $gray-2;
    transition: all 0.2s ease-out;
    &:hover {
      color: $gray-1;
    }
  }

  @include phone {
    .Popup-content {
      margin-top: 0;
      padding: 30px;
    }
    .Popup-close {
      font-size: 22px;
      top: 8px;
      right: 8px;
    }
  }
  @include phone-small {
    .Popup-content {
      margin-top: 0;
      padding: 30px 20px;
    }
  }
}

.Form {
  button {
    width: 100%;
  }

  .Form-Note {
    background: url(../../assets/icon-plus.svg) no-repeat left center;
    padding-left: 18px;
  }

  .Form-field {
    height: auto;
    position: relative;

    &.is-error {
      input {
        border-color: $red;
        background-color: $white;
        color: $red;
      }
      .react-select__control {
        border-color: $red;
        background-color: $white;
      }
    }

    & + .Form-field {
      margin-top: 32px;
    }
  }
  .Form-actions {
    border-top: 1px solid $gray-4;
    margin-top: 30px;
    position: relative;

    .Form-error {
      margin-top: 6px;
    }
  }
  .Form-error {
      margin-top: 4px;
      font-size: $font-label-size;
      color: $red;
      font-family: $font-content;
      letter-spacing: 0;
      line-height: $line-height-label;
      position: absolute;
      text-align: left;
  }
  .Form-footer {
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    margin-top: 30px;
  }


  @include phone-small {
    h1 {
      font-size: 6vw;
    }
    input {
      height: 48px;
    }
    .Form-field {
       height: 56px;
    }

    .Form-actions {
      margin-top: 24px;
    }
  }
}

.NoScroll {
  overflow: hidden;
  position: fixed;
  width: 100%;

  & > * {
    //position: relative;
  }
}

@keyframes fs-zoom {
  from { opacity:0; transform:translateY(20%) scale(0); }
}
@keyframes fs-fadein {
  from { opacity:0; }
  to { opacity:1; }
}

.LeadForm {
  h1 + p {
    margin-top: -20px;
    margin-bottom: 30px;
    text-align: center;
  }
}
