@import '~@ergeon/core-components/src/components/variables';
.popup {
  &__fog {
    position: fixed !important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba($black-1, 0.8);
    box-shadow: 0 200px 50px 200px rgba($black-1, 0.8);
    backdrop-filter: blur(4px);
    height: 100%;
    width: 100%;
  }
  &__container {
    padding: $h-10;
    height: 100%;
    width: 100%;
    max-width: 1180px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    margin: $v-24 auto;
    z-index: $z-index-1;
    @include tablet() {
      padding: 0;
    }
  }
  &__wrapper {
    position: relative;
    .popup__content {
      pointer-events: auto;
      border-radius: $corner-soft;
      background-color: $white;
      overflow: hidden;
      .style-browser-layout {
        border: unset;
      }
    }
    padding-bottom: $v-42;
    @include tablet() {
      padding-bottom: $v-64;
    }
  }
  &__cross-icon {
    position: absolute;
    right: $h-10;
    top: $h-10;
    width: $v-24;
    height: $v-24;
    cursor: pointer;
    pointer-events: auto;
    border-radius: $corner-default;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: unset;
    &:hover {
      background-color: $gray-5;
    }
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;
    }
  }
}
