@import "~@ergeon/core-components/src/components/variables.scss";

.terms-footer {
  max-width: 980px;
  border-top: 1px solid $gray-4;
  padding-top: $v-24;
  border-top: 1px solid $gray-4;
  margin: 0 auto;
  font-size: $font-label-size;
  line-height: $line-height-label;
  color: $gray-1;
  margin-bottom: $v-42;
  @include phone() {
    margin-left: $h-20;
    margin-right: $h-20;
    border-top: none;
    padding-top: 0;
  }
  &.top-border {
    margin-top: $v-42;
    @include phone() {
      border-top: 1px solid $gray-4;
      padding-top: $v-24;
    }
  }
  .copyright {
    margin-bottom: $v-12;
  }
  a {
    color: $black-3;
    &:hover {
      color: $black-1;
    }
  }
}
