@import "@ergeon/core-components/src/components/variables.scss";

.warranties-page {

  &__header {
    height: 480px;
    background-image: radial-gradient(circle farthest-corner at 100% 0%, transparent, rgba($black-1, 0.5)), url('../../assets/img-hero-warranties.jpg');
    background-position: right;
    background-size: auto, cover;
    background-repeat:  no-repeat;
  }

  &__content {
    padding-top: 60px;

    .licenses {
      display: flex;
      flex: 0 auto;
      padding-bottom: 60px;
      margin-top: 30px;

      @include tablet {
        justify-content: space-between;
      }

      @include phone {
        flex-direction: column;
        padding-top: 0px;
      }

      @include phone-small {
        padding: 0px;
      }
    }

    .certifications {
      display: flex;
      width: 80%;
      min-width: 580px;
      flex: 0 auto;

      @include tablet {
        min-width: 380px;
      }

      @include phone {
        width: 100%;
        margin-bottom: 20px;
        min-width: auto;
      }
    }

    .certification-item {
      border-radius: 20px;
      margin-bottom: $v-24;
      background-image: linear-gradient(180deg, rgba(#2372b3, 0.1), rgba($white, 0));
      font-size: 16px;
      text-align: center;
      margin-right: 20px;
      width: 100%;
      padding: $v-30 $h-20;
      &:last-child {
        margin-right: 0;
      }

      .certified-icon {
        display: block;
        margin-right: auto;
        margin-bottom: 20px;
        margin-left: auto;
        width: 100px;
      }
    }

    .certification-image-link {
      width: 100%;
      display: inline-block;
      margin-left: $h-20;
      @include phone() {
        margin-left: 0;
      }
      .certification-image {
        width: 100%;
      }
    }
  }
}

.warranties {
    display: flex;
    margin-bottom: $v-24;
    flex-flow: wrap;
    min-height: 278px;
  }

.warranty {
    display: flex;
    justify-content: center;
    align-items: center;
    &__canvas {
      vertical-align: bottom;
      max-width: 100%;
    }
}

.heading-16 {
  margin-bottom: 6px;
  font-size: 16px;
  text-align: center;
}
