@import '@ergeon/core-components/src/components/variables.scss';

.warranties-page {
  &__header {
    height: $v-30 * 16;
    background-image: radial-gradient(circle farthest-corner at 100% 0%, transparent, rgba($black-1, 0.5)),
      url('../../assets/img-hero-warranties.jpg');
    background-position: right;
    background-size: auto, cover;
    background-repeat: no-repeat;
  }

  &__content {
    $content-padding: $h-60;

    padding-top: $content-padding;

    .licenses {
      display: flex;
      flex-direction: column;
      flex: 0 auto;
      margin-top: $v-30;
      width: 100%;

      @include tablet {
        justify-content: space-between;
      }

      @include phone {
        flex-direction: column;
        padding-top: 0;
        width: 100%;
      }

      @include phone-small {
        padding: 0;
      }
    }

    .certifications {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      flex: 0 auto;

      @include tablet {
        justify-content: flex-start;
        width: 80%;
        margin: auto;
      }

      @include phone {
        width: 100%;
        margin-bottom: $v-20;
        min-width: auto;
      }
    }

    .certification-item {
      $corner-radius: $v-20;

      border-radius: $corner-radius;
      margin-bottom: $v-24;
      background-image: linear-gradient(180deg, rgba(#2372b3, 0.1), rgba($white, 0));
      font-size: $font-regular-size;
      text-align: center;
      margin-right: $v-16;
      width: $h-40 * 7;
      padding: $v-30 $h-20;

      &:nth-child(3) {
        margin-right: 0;
      }

      @include phone() {
        width: 100%;
        margin-right: 0;
        margin-bottom: $v-16;
      }

      .certified-icon {
        display: block;
        margin-right: auto;
        margin-bottom: $v-20;
        margin-left: auto;
        width: $h-120 - $h-20;
      }
    }

    .certification-image-link {
      $cert-image-max-width: 872px;

      width: 100%;
      max-width: $cert-image-max-width;
      display: inline-block;
      height: auto;
      align-self: center;

      @include phone() {
        width: 100%;
        margin-left: 0;
      }
      .certification-image {
        width: 100%;
      }
    }
  }
}

.warranties {
  $warranties-min-width: 278px;

  display: flex;
  margin-bottom: $v-24;
  flex-flow: wrap;
  min-height: $warranties-min-width;
}

.warranty {
  display: flex;
  justify-content: center;
  align-items: center;
  &__canvas {
    vertical-align: bottom;
    max-width: 100%;
  }
}

.heading-16 {
  margin-bottom: $v-6;
  font-size: $font-regular-size;
  text-align: center;
}
