@import '~@ergeon/core-components/src/components/variables';

.Regulations {
  $offset: $h-40;
  margin: $v-64 auto;

  .regulation-faq-title{
    font-size: $font-regular-size;
    line-height: $line-height-regular;
  }

  @include tablet {
    .h3 {
      font-size: $h4-size;
      line-height: $h4-line-height;
      font-weight: 600;
    }
    p, .regulation-faq-title {
      font-size: $font-mobile-size;
      line-height: $line-height-mobile;
    }
  }

  @include phone() {
    $background-color: $gray-6;
    background-image: linear-gradient(to top, $white 0%, $background-color 100%);
    padding: $v-24 0;

    .h3 {
      font-size: $h4-size;
      line-height: $h4-line-height;
      padding: 0 $h-20;
    }

    p, .regulation-faq-title {
      padding: 0 $h-20;
    }
  }

  &-container {
    margin: $v-30 (-1 * $offset) $v-16;
  }

  &-row {
    margin: 0 $offset;
    position: relative;

    @include tablet {
      li {
        font-size: $font-mobile-size;
        line-height: $line-height-mobile;
      }
    }
  }

  img:not(.Regulation-item) {
    width: 100%;
  }

  .Regulation-item {
    border-top: 1px solid $gray-4;
    padding: $v-12 $h-20 $v-12 0;

    .h4 {
      font-size: $font-mobile-size;
      font-weight: 600;
      text-align: left;
      margin-bottom: $v-6;
    }

    .Collapsible-headerBtn {
      align-items: flex-start;
    }

    .Collapsible-icon {
      width: $v-24;
    }

    .Collapsible-content {
      padding: 0 $h-20;
    }
  }
}
