@import '@ergeon/core-components/src/components/variables.scss';

.get-started__features {
  margin-top: 60px;
  display: flex;
  @include phone() {
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__feature {
    border-radius: $corner-soft;
    background-color: $brand-color-3;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    width: 280px;
    height: 128px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    img {
      margin-bottom: $v-12;
    }
    @include phone() {
      width: 48%;
      margin: 10px 0;
    }
  }
}
