@import '@ergeon/core-components/src/components/variables.scss';

.order-detail-page {

  .order-title {
    display: flex;
    color: unset;
    font-weight: unset;

    > div:first-child {
      display: inline-flex;
      align-items: center;
      margin-right: $h-20;
    }

    svg {
      max-height: $v-12;
    }

    svg path {
      fill: $gray-2;
    }
  }

  .order-details {
    border-bottom: 1px solid $gray-4;
    padding-bottom: $v-16;
    margin-bottom: $v-30;
  }

  .quote-preview {
    margin-left: $h-10;
    margin-right: $h-40;
    margin-bottom: $v-12;

    @include phone() {
      margin-top: $v-12;
    }
  }

  .quote-filters {
    display: flex;
    justify-content: end;

    .react-select-filter {
      &__value-container {
        width: 130px;
        justify-content: flex-end;
      }

      &__indicator {
        padding: 2px
      }

      &-container {
        font-weight: normal;
      }
    }
  }

  .quote-line-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-right: 40px;
    width: 150px;
    height: 150px;
    background-color: $white;

    @include border();

    img {

      @include border();
      border-color: $white;
      width: 97%;
      height: auto;
    }
  }
}
