.customer-quote-wrapper {
  .quote-detail-page {
    .quote-details {
      padding: 0;
    }
    .card.soft-border {
      border: none;
    }

    .quote-fields .data-row {
      padding: 0;
    }
  }
}
