@import '~@ergeon/core-components/src/components/variables.scss';

.map-label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  border-radius: $corner-default;
  font-weight: bold;
  font-size: 14px;
  line-height: $v-24;
  color: $white;
  margin-right: $h-10;
  min-width: $v-24;
  background: $red;
}

.map-label-yellow {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  border-radius: $corner-default;
  font-weight: bold;
  font-size: 14px;
  line-height: $v-24;
  color: $white;
  margin-right: $h-10;
  min-width: $v-24;
  background: #FFBE4E;
}

.map-circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  border-radius: 100%;
  font-weight: bold;
  font-size: 15px;
  line-height: initial;
  margin-right: $h-10;
  color: $blue;
  background: $white;
  border: 2px solid $blue;
  width: $v-24;
  height: $v-24;
}
