@import '@ergeon/core-components/src/components/variables.scss';

.notice {
  background-size: 20px 20px;
  background-repeat: no-repeat;
  padding: 15px;
  padding-left: 45px;
  background-position: 15px 17px;
  border-radius: 4px;
  margin-bottom: $v-20;

  &, &.notice-info {
    // TODO: reuse icon-info.svg from core-components
    background-image: url('../../assets/icon-info.svg');;
    background-color: #EBF8FF;
    border: 1px solid #B8E6FF;
    border-radius: 4px;
  }
}
