@import '~@ergeon/core-components/src/components/variables.scss';

.app-layout {
  .dropdown-menu {
    display: block;
    min-width: unset;
    max-width: 300px;
    position: relative;

    .special {
      border-bottom: 1px solid $gray-4;
    }
    .icon {
      margin-right: 10px;
      height: 20px;
      min-width: 25px;
      text-align: center;
    }
    .user-name-menu-item {
      display: flex;
    }
    .user-full-name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 120px;
    }
    .link {
      height: $v-36;
      display: flex;
      justify-content: center;
      padding: 0 $h-10;
      @include phone() {
        padding: 0 $h-5;
      }
    }

    @include phone() {
      min-width: 20px;
    }
  }

  .menu {
    width: unset !important;
    right: 0;
    .menu-item {
      width: inherit;
    }

    .menu-title {
      display: flex;
      align-items: center;
    }

    @include phone() {
      position: absolute;
      border: 1px solid rgba(0, 0, 0, 0.05);
      background: $white;
      box-shadow: 0 5px 15px 0 rgba(0,0,0,0.10);
      min-width: 200px;
      right: -12;
      margin-top: 6px;
      margin-right: 10px;

      .menu-item {
        padding: 6px 12px;
        line-height: 32px;
        border-radius: unset;
        font-weight: normal;
        font-size: $font-mobile-size;
      }
    }
  }

  .icon-and-arrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .dropdown-menu--icon {
      min-width: $v-24;
    }
  }

  .sign-in-link {
    display: flex;
    justify-content: center;
    padding: 0 $h-10;
    height: $v-36;
    &:hover {
      color: #333631;
    }
    .link-wrapper {
      padding: $v-6 $h-10;
      @include phone() {
        padding: $v-6 $h-5;
      }
    }
    li {
      border-radius: 4px;
      margin: unset;

      @include phone {
        line-height: 20px !important;
      }
    }
    .sign-in-icon {
      vertical-align: middle;
      margin-right: 5px;
      padding-bottom: 2px;

      @include phone() {
        margin-right: 0;
      }
    }
  }

  .sign-in-icon {
    vertical-align: middle;
    margin-right: 5px;

    @include phone() {
      margin-right: unset;
    }
  }

  .user-full-name {
    @include tablet() {
      display: none;
    }
    @include phone() {
      display: none;
    }
  }

  .loaderWrapper {
    @include phone {
      padding-top: unset;
      padding-left: 5px;
    }
  }

  .active-link {
    svg path {
      fill: $green-1;
    }
  }

  .phone-number {
    display: flex;
    margin-right: 18px;
    @include phone() {
      position: absolute;
      top: 12px;
      right: 0;
    }

    &__icon {
      background: $green-1;
      border-radius: 50%;
    }

    &__link {
      font-size: 21px;
      padding-left: 8px;
      color: $green-1;
      font-weight: 600;
      @include phone() {
        font-size: 14px;
      }
    }
  }

  .upcoming-features-wrapper {
    position: fixed;
    bottom: $v-20;
    left: $h-20;
    z-index: 99;
    animation-name: move-it-out;
    animation-duration: 2s;
    animation-delay: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  @keyframes move-it-out {
    0% {
      bottom: $v-20;
    }
    25% {
      bottom: 40px;
    }
    100% {
      bottom: -500px;
      display: none;
    }
  }
}
