@import '@ergeon/core-components/src/components/variables.scss';
.badges-section {
  margin-top: $v-64;
  margin-bottom: $v-124;
  padding-top: $v-36;
  display: flex;
  flex-wrap: wrap;
  @include phone() {
    margin-top: 30px;
  }
  &__row {
    display: flex;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: $v-20;
    margin-bottom: $v-20;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    @include phone() {
      flex-direction: column;
      margin-bottom: 0;
      margin-top: 0;
    }
  }
  a {
    color: $black-1;
    &:hover {
      color: $black-3;
      text-decoration: underline;
    }
  }
  &__badge {
    display: flex;
    width: 33%;
    align-items: center;
    padding: 20px;
    @include tablet() {
      flex-direction: column;
      justify-items: center;
      justify-content: center;
      align-content: center;
      align-items: center;
      text-align: center;
    }
    @include phone() {
      width: 100%;
      justify-content: left;
      flex-direction: row;
      text-align: left;
      padding: 20px 0;
    }
    &__img-container {
      height: 70px;
      width: 80px;
      text-align: center;
      @include phone() {
        width: 100px;
      }
      img {
        height: 100%;
        width: auto;
      }
    }
    &__txt {
      margin-left: 30px;
      @include tablet() {
        margin-left: 0;
        margin-top: 12px;
      }
      @include phone() {
        margin-left: 30px;
        margin-top: 0;
      }
      .label {
        font-weight: normal;
      }
    }
  }
}