@import '~@ergeon/core-components/src/components/variables.scss';
@import '~@ergeon/core-components/src/components/mixins/reset.scss';


$img-wrapper-min-width: 512px;

.popup--container {
  overflow-y: auto;

  .popup__cross-icon {
    right: unset;
    top: unset;

    &:hover {
      background-color: unset;
    }
  }

  .popup__img-wrapper img {
    min-width: $img-wrapper-min-width;
    @include phone {
      min-width: unset;
      width: 90%;
    }
  }

}

.BuildSpecs-popup {
  $icon-container-size: $v-48;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  .popup--wrapper {
    width: 100%;
    max-width: $screen-sm;
    padding-bottom: 0;

    @include phone {
      width: 100%;
    }
  }

  .popup--content {
    padding-top: $v-124;
    padding-bottom: $v-124;
  }

  .popup--cross-icon {
    top: $v-124 + $v-6;
    right: $v-6;
    width: $icon-container-size;
    height: $icon-container-size;
  }

  .popup--fog {
    pointer-events: none;
  }

  @include phone() {
    z-index: $z-index-super-top;
    margin: 0;

    .popup--content {
      padding-top: $v-48; // top panel height
      padding-bottom: 0;
      width: 100%;
    }

    .popup--cross-icon {
      display: none;
    }

    .popup--fog {
      display: none;
    }
  }

  .BuildSpecs-card.padding-60.soft-border {
    background-color: $white;
    width: 100%;

    @include phone() {
      min-height: 100vh;
      padding: 0;
      border: 0;
      border-radius: 0;
      box-shadow: none;
    }
  }

  .BuildSpecs-table {
    @include phone() {
      padding: 0 $v-20 $v-24 $v-20;
    }
  }

  .BuildSpecs-title {
    margin-bottom: $v-12;

    @include phone() {
      display: flex;
      align-items: center;
      min-height: $v-48;
      margin-bottom: 0;
      padding: 0 $h-20;
      background-color: $gray-6;

      > [class^='map-'] {
        display: none;
      }
    }
  }

  .BuildSpecs-topPanel {
    display: none;
    padding-right: $h-20;

    .top-panel-mobile__center {
      display: flex;
      align-items: center;
    }

    @include phone() {
      display: flex;
    }
  }

  .BuildSpecs-backBtn {
    @extend %reset-button;

    display: flex;
    align-items: center;
    justify-content: center;
    width: $icon-container-size;
    height: $icon-container-size;

    svg {
      height: $font-mobile-size;

      path {
        fill: $gray-1;
      }
    }
  }
}
