.quote-line-status-to_be_dropped {
  .quote-line-description-text {
    text-decoration: line-through;
  }
  .quote-line-price h5 {
    text-decoration: line-through;
  }
}
.quote-line-additional-info-label {
  color: #ff7d59;
}

