@import "@ergeon/core-components/src/components/variables.scss";

.help-page {

  .shadow-block {
    box-shadow: 0 50px 50px 0 $gray-6, 0 2px 0 0 $gray-5;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $gray-5;
    padding: 24px 0;
    margin: 24px 0;
  }

  &__content {
    margin-bottom: $v-124;
    display: flex;
    margin-top: $v-30;
    .sidebar {
      width: 280px;
      border: 0;
      margin-right: $h-40;
      &__menu {
        border: 1px solid $gray-4;
        border-radius: 8px;
        padding: $h-20 0;
        background-color: white;
        min-height: 50px;

        .sidebar__parent-title {
          color: $gray-1;
          margin-bottom: $v-6;
          text-transform: uppercase;
          font-size: $font-label-size;
          line-height: $line-height-label;
          display: flex;
          align-items: center;
          padding-left: 20px;
          margin-right: 5px;
          .icon-arrow-left {
            background-image: url('../assets/icon-arrow-left.svg');
            background-size: 7px;
            background-repeat: no-repeat;
            width: $v-24;
            height: $v-24;
            background-position: 50% 50%;
            margin-right: 5px;
            &:hover {
              background-color: $gray-5;
              border-radius: $corner-default;
              cursor: pointer;;
            }
          }
        }

        .siblings-list {
          list-style: none;
          margin: 0;
          padding: 0;
          font-size: $font-mobile-size;
          color: $black-1;

          .siblings-list-item {
            padding: 6px 20px;
            margin: 2px 0px 2px 0px;
            position: relative;
            color: $black-1;
            font-weight: normal;

            &:hover {
              background-color: $gray-6;
              cursor: pointer;
            }

            &.active {
              background-color: $gray-6;
              font-weight: 600;
            }
            .icon-arrow-right {
              background-image: url('../assets/icon-arrow-right.svg');
              background-size: 7px;
              background-repeat: no-repeat;
              width: $v-24;
              height: $v-24;
              background-position: 50% 50%;
              position: absolute;
              top: $v-12;
              right: $h-10;
              margin-top: -7px;
              fill:red;
            }
            &__wrapper {
              margin-right: 10px;
            }

          }
        }
      }
    }

    .help-page__node {
      width: 700px;
      .help-breadcrumb {
        &__link {
          text-decoration: none;
          color: $black-3;

          &:hover {
            color: $black-1;
          }
        }

        &__item {
          &:after {
            color: $gray-2;
            content: '/';
            margin: 0 5px;
          }
        }
      }

      .help-page__title {
        margin-bottom: $v-12;
      }

      .help-page__subtitle {
        font-size: $h5-size;
        line-height: $h5-line-height;
        color: $black-3;
        padding-bottom: $v-24;
        margin-bottom: $v-24;
        border-bottom: 1px solid $gray-4;
      }

      .help-page__node-content {
        font-size: $font-content;
        line-height: $line-height-regular;

        hr {
          border: none;
          border-bottom: 1px solid $gray-4;
          margin: 30px 0;
        }

        ul {
          padding: 0;

          lh {
            float: left;

            a {
              color: $black-1;
            }
          }

          lh ~ li {
            margin-left: 200px;
          }

          li {
            list-style-type: none;
            margin-bottom: 8px;
            
            a {
              color: $black-1;
              font-weight: normal;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }

    .help-page__search-results {
      width: 700px;
    }

    .help-page__search-results-wrapper {
      position: relative;
      min-height: 300px;
    }
  }

  &__body {
    position: relative;
    min-height: 600px;
  }

  .loading {
    position: absolute;
    top: 0;
    background-color: rgba(black, 0.1);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s;

    &--hidden {
      opacity: 0;
      z-index: -1;
    }
  }
}