@import '@ergeon/core-components/src/components/variables.scss';
@import '../../utils';

.promo-block {
  @include add-big-margins();
  display: flex;
  justify-content: left;
  align-items: center;
  @include tablet() {
    flex-direction: column-reverse;
  }
  &__tablet-button-container {
    display: none;
    @include tablet() {
      display: flex;
    }
  }
  &__img-container {
    border-radius: $corner-soft;
    overflow: hidden;
    margin-right: 100px;
    max-width: 540px;
    @include tablet() {
      margin-right: unset;
      margin-top: $v-20 + 1;
    }
    @include phone() {
      max-width: 100%;
      margin-right: unset;
    }
    img {
      width: 100%;
    }
  }
  &__button-container {
    display: flex;
    @include tablet() {
      display: none;
    }
  }
  &__content {
    &__wrapper {
      h2 {
        @include tablet() {
          font-size: $h4-size;
          line-height: $h4-line-height;
          font-weight: 600;
        }
      }
      p {
        @include tablet() {
          font-size: $font-mobile-size;
          line-height: $line-height-mobile;
        }
      }
    }
    @include tablet() {
      margin-top: $v-24;
      h2,p {
        text-align: center;
      }
    }
    @include phone() {
      .button {
        width: 100%;
      }
    }
    a {
      margin-top: 24px;
    }
  }
}
