@import '~@ergeon/core-components/src/components/variables';

.job-board {
  .loading-placeholder {
    margin: 0 auto;
    display: none;
    &.visible {
      display: block;
    }
  }
  margin: 0 auto;
  width: 100%;
  max-width: $container-lg;
}

.job-list {
  position: relative;
  text-align: left;
  margin: $v-12 auto $v-36 auto;

  &__department {
    padding-bottom: $v-12;
    padding-top: $v-30;
    border-bottom: 1px solid $gray-5;

    .h4 {
      line-height: 1.36;
    }
  }

  &__job {
    display: flex;
    padding: ($v-16 + 2) 0;
    border-bottom: 1px solid $gray-5;
    border-top: 1px solid $gray-5;
    justify-content: space-between;
    align-items: baseline;
    text-align: left;
    line-height: $line-height-regular;

    &__location {
      text-align: right;
      font-size: $h5-size;
      font-weight: 500;
    }
  }

  @include phone {
    &__job {
      font-size: $font-mobile-size;
  
      &__location {
        font-size: $font-label-size;
        color: $gray-1;
      }
    } 
  }
}
