@import '~@ergeon/core-components/src/components/variables.scss';

.appointment-list-page {

  .appointment-filters {
    display: flex;
    justify-content: end;
    position: relative;

    .erg-select--dropdown {
      right: 0;
      width: 150px;
    }

    .react-select-filter {

      &__value-container {
        width: 80px;
      }

      &__indicator {
        padding: 2px
      }

      &-container {
        font-weight: normal;
      }
    }
  }
}
