@import '@ergeon/core-components/src/components/variables.scss';

.faq-page {
  &__header {
    height: 480px;
    background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.3)), url('../../assets/img-hero-faq.jpg');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
  }
  &__call-us {
    color: $white;
    font-weight: bold;
    &:hover {
      color: rgba($white, 0.8);
    }
  }

  p {
    margin-bottom: $v-12;
    text-align: left;
  }
}
