.heading {
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  font-family: 'Hind Vadodara', sans-serif;
    color: #333631;

  &__subtitle {
    font-family: 'Open Sans', sans-serif;
    color: #333631;
    display: block;
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .heading {
    font-size: 30px;
    line-height: 40px;

    &__subtitle {
      font-size: 16px;
      line-height: 24px;
    }
  }
}
