@import "variables";
.subheader {
  font-weight: 400;
  font-family: $font-content;
  &__h1 {
    font-size: $h1-size;
    line-height: $h1-line-height;
  }
  &__h2 {
    font-size: $h2-size;
    line-height: $h2-line-height;
  }
  &__h3 {
    font-size: $h3-size;
    line-height: $h3-line-height;
  }
  &__h4 {
    font-size: $h4-size;
    line-height: $h4-line-height;
  }
  &__h5 {
    font-size: $h5-size;
    line-height: $h5-line-height;
  }
  &__h6 {
    font-size: $h6-size;
    line-height: $h6-line-height;
  }
}
.white {
  color: $white;
}

.center {
  text-align: center;
}

ol {
  list-style-type: none;
  position: relative;
}
ol li {
  counter-increment: step-counter;
  padding-top: 12px;
  padding-bottom: 12px;
  @include phone() {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    padding-bottom: 0;
  }
}
.ordered-list li::before {
  content: counter(step-counter);
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  font-size: 14px;
  color: #09a873;
  line-height: 20px;
  border: 2px solid #09a873;
  font-weight: 600;
  background-color: white;
  border-radius: 100%;
  text-align: center;
}