@import 'variables';

.qa-section {
  margin-top: 60px;
  @include phone() {
    margin-top: 30px;
  }
  &__questions-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
  }
  &__question {
    max-width: 48%;
    @include phone() {
      max-width: 100%;
    }
    h6 {
      margin-bottom: 12px;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        margin-bottom: 12px;
        position: relative;
        &:before {
          color: $gray-2;
          content: "\2022";
          display: inline-block;
          font-size: 20px;
          left: -15px;
          position: absolute;
          top: 0;
        }
        &:last-child {
          margin-bottom: 0;
        };
      }

    }
    margin-bottom: 24px;
    padding-bottom: 12px;
    border-bottom: 1px solid $gray-4;
  }
}