//Colors
$black-1: #1D1E1C;
$black-2: #333631;
$black-3: #525650;
$black-opacity: rgba(21,22,21, 0.5);
$black-opacity-hover: rgba(21,22,21, 0.8);
$gray-1: #787e75;
$gray-2: #A3A9A0;
$gray-3: #BFC4BD;
$gray-4: #E4E9E2;
$gray-5: #F2F6F0;
$gray-6: #F8FBF7;
$green-1: #09A873;
$green-2: #059162;
$green-3: #CDEDE2;
$orange-1: #F68120;
$orange-2: #FFF9ED;
$orange-3: #FFEBCA;
$white: #FFFFFF;

//Typography
$font-content: 'Open Sans', sans-serif;
$font-title: 'Hind Vadodara', sans-serif;
$font-regular-size: 16px;
$line-height-regular: 24px;

$font-mobile-size: 14px;
$line-height-mobile: 20px;

$font-label-size: 12px;
$line-height-label: 16px;

$h1-size: 65px;
$h1-line-height: 84px;
$h2-size: 40px;
$h2-line-height: 50px;
$h3-size: 30px;
$h3-line-height: 40px;
$h4-size: 22px;
$h4-line-height: 30px;
$h5-size: 18px;
$h5-line-height: 24px;
$h6-size: 16px;
$h6-line-height: 20px;

// Extra extra small screen / phone (iPhone 5)
$screen-xxs:                 320px !default;
$screen-xxs-min:             $screen-xxs !default;

// Extra small screen / phone
$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xxs-max:             374px !default;
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

$container-lg:               940px;
$container-xl:               1180px;

// Meida queries mixins
@mixin phone-small {
  @media screen and (max-width: #{$screen-xxs-max}) {
    @content;
  }
}

@mixin phone {
  @media screen and (max-width: #{$screen-xs-max}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: #{$screen-sm-max}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (max-width: #{$screen-md-max}) {
    @content;
  }
}

@mixin desktop-wide {
  @media screen and (min-width: #{$screen-md-max}) {
    @content;
  }
}

@mixin not-phone-small {
  @media screen and (min-width: #{$screen-xxs-max}) {
    @content;
  }
}

@mixin not-phone {
  @media screen and (min-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin not-tablet {
  @media screen and (min-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin min-width($width) {
  @media screen and (min-width: #{$width}) {
    @content;
  }
}

@mixin max-width($width) {
  @media screen and (max-width: #{$width}) {
    @content;
  }
}

@mixin min-height($height) {
  @media screen and (min-height: #{$height}) {
    @content;
  }
}

@mixin max-height($height) {
  @media screen and (max-height: #{$height}) {
    @content;
  }
}

// Other mixins
@mixin border {
  border: 1px solid rgba($gray-1, 0.18);
  border-radius: 4px;
}

* {
  box-sizing: border-box;
}

//Animation
$transition-1: 200ms;
$transition-2: 400ms;
$transition-3: 600ms;
$transition-4: 800ms;
$transition-5: 1000ms;