@import '@ergeon/core-components/src/components/variables.scss';

.quote-page-content {
  display: grid;

  &.content-grid-view {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: $v-16 + 2;
    place-content: center;
    place-items: center;

    @include tablet() {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: $v-6 + 2;
    }

    @include phone() {
      grid-gap: $corner-default / 2;
    }
  }

  .table-lister {
    .table-id {
      min-width: $h-60 + $v-16;
    }
    .table-title {
      width: 100%;
      max-width: $h-120 * 2 + $h-10;
    }
    .table-price {
      min-width: $h-60 + $v-12;
    }
    .table-info {
      min-width: $h-80 + $v-12;
    }
    .table-date {
      min-width: $v-88 + $v-6;
    }

    display: flex;
    grid-gap: $v-6;
    padding: 0 $v-16;
    color: $gray-1;
    font-size: $font-mobile-size;
    line-height: $line-height-mobile;
  }
}
