@import '~@ergeon/core-components/src/components/variables.scss';

$preview-size: 150px;

.config-preview {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  width: $preview-size;
  max-height: $preview-size;
  height: auto;
  background-color: $white;

  &__no-preview {
    border-color: transparent;
    min-width: $preview-size;

    @include tablet() {
      display: none;
    }
  }
  @include border();

  a {
    text-align: center;
  }

  .preview-image {
    @include border();
    border-color: $white;
    width: 97%;
    height: auto;
  }

  .preview-3d {
    position: absolute;
    right: $h-5;
    bottom: $h-5;
  }

  .preview-placeholder {
    width: 24px !important;
  }

  .hidden-img {
    display: none;
  }
}

.gallery-preview {
  background-color: $white;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  margin-right: $h-40;
  border: none;
  border-radius: none;

  // increase size of gallery view
  .ImageGallery-container {
    width: 150px;

    .image-gallery-thumb {
      .image-loader__wrapper {
        max-height: 144px; // so it can be 150x150
      }
      .image-loader__image {
        height: 150px; // so all images no matter what look 150px
      }
    }
  }
}

// image gallery popup uses dialog component
// this will prevent <hr> to expand as it messes up the UI
.image-gallery-popup {
  .image-gallery-dialog {
    .dialog--content hr {
      width: 0;
    }
  }
}

// swipe gallery fix as height overflows current area on mobile for some reason
.swipe-gallery {
  .image-gallery-image {
    height: unset !important;
  }
}

.mobile-length {
  display: none;

  @include phone() {
    display: block;
  }
}

.desktop-length {
  display: block;

  @include phone() {
    display: none;
  }
}

.quote-line-images {
  .image-loader__wrapper > img {
    height: 400px; // fixed height for pdf mode only as .quote-line-images is only attached on asPDF
  }
}
.quote-line-images-wrapper {
  display: flex;
  height: $preview-size;

  .quote-line-images {
    overflow: hidden;
  }

  .SwipeImage-thumb,
  > img {
    max-height: $preview-size;
    height: $preview-size;
  }

  .SwipeImage-thumb {
    opacity: 0;
    transition: $transition-2;
  }

  .SwipeImage-thumb.is-selected {
    opacity: 1;
  }

  .image-loader__image {
    min-height: $preview-size - $h-5;
  }

  .image-loader__wrapper {
    max-height: unset;
    width: $preview-size - $h-5;
  }
}

.preview-box {
  $preview-image-white-space-size: 2px;

  position: relative;
  display: inline-flex;
  width: 100%;
  min-width: $preview-size;
  min-height: $preview-size;
  max-width: $preview-size;
  padding: $preview-image-white-space-size;
  border: 1px solid $gray-4;
  border-radius: $corner-default;

  .preview-image {
    align-self: center;
    border-radius: $corner-default;
    border: 1px solid $white;
    width: 100%;
    height: auto;
  }

  .preview-3d-icon {
    align-self: flex-end;
    position: relative;
    bottom: $v-6;
    right: $h-20 + $h-10;
  }
}

.SwipeCarousel {
  left: 0;
}
