@import '~@ergeon/core-components/src/components/variables.scss';

.app-subcard {

  &.card.shadow {
    background: $gray-6;
  }

  h6 {
    border-bottom: 1px solid $gray-4;
    padding-bottom: $v-16;
    margin-bottom: $v-16;

    @include phone() {
      padding-bottom: $v-12;
      margin-bottom: $v-12;

      .button {
        padding: 0 12px;
      }
    }

    .flex-wrapper {
      @include tablet() {
        flex-direction: row;
      }
    }
  }
  .quote-preview {
    margin-right: 0 !important;
  }
}
