@import '@ergeon/core-components/src/components/variables.scss';

.app-subcard {
  
  &.card.shadow {
    background: $gray-6;
  }

  h6 {
    border-bottom: 1px solid $gray-4;
    padding-bottom: $v-16;
    margin-bottom: $v-16;

    .flex-wrapper {
      @include tablet() {
        flex-direction: row;
      }
    }
  }
}
