@import '@ergeon/core-components/src/components/variables.scss';

.customer-app-data-row {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: $v-12 0;

  > div:first-child {
    margin-right: $h-20;
    font-size: 14px;
    color: $gray-1;
    min-width: 100px;
    max-width: 100px;
    text-align: right;
  }

  > div:nth-child(2) {
    min-width: 0;  // allow element to shrink https://stackoverflow.com/a/36247448/821594
    overflow-wrap: break-word;
  }
}
