@import '@ergeon/core-components/src/components/variables.scss';

$iconSize: 48px;

.loading-error-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;
    &__heading {
        font-family: 'Hind Vadodara', sans-serif;
        font-weight: 700;
        font-size: $h4-size;
        line-height: 30px;
        padding: $v-24 0 $v-12;
    }
    &__error-text {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: $h6-size;
        line-height: $v-24;
    }
    &__close-button {
        margin-top: $v-24;
    }
}

.error-icon {
    width: $iconSize;
    height: $iconSize;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: $iconSize;
      height: $iconSize;
    }
}