@import '@ergeon/core-components/src/components/variables.scss';

.single-card-page {
  margin: 60px auto 0;

  &__content {
    max-width: 475px;
    padding: 50px;
    margin: auto;
    width: 100%;

    @include phone() {
      padding: 25px;
    }
  }

  a {
    cursor: pointer;
  }
}
