
/** float container */
.float-area-container {
  box-sizing: border-box;
  position: relative;
  width: 100%;

  select {
    background: url(../../assets/drop_down.svg) no-repeat 95% 50%;
    background-color: #F8FBF7;
    background-size: 10px;
    border: 1px solid rgba(191,196,189,0.55);
    border-radius: 4px;
    height: 48px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-top: 12px;
    padding-left: 11px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #333631;
    letter-spacing: 0;
    line-height: 20px;
    width: 100%;
    &:focus {
      outline: 0;
      border: 1px solid rgba(0,0,0,0.50);
      background-color: #FFFFFF;
      -webkit-box-shadow: 0px 0px 0px 3px rgba(0,0,0,0.2);
      -moz-box-shadow: 0px 0px 0px 3px rgba(0,0,0,0.2);
      box-shadow: 0px 0px 0px 3px rgba(0,0,0,0.2);
    }
  }
  textarea {
    border: 1px solid rgba(191, 196, 189, 0.50);
    border-radius: 4px;
    background: #F8FBF7;
    padding: 24px 12px 14px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    resize: none;
    color: #333631;
    letter-spacing: 0;
    line-height: 20px;
    width: 100%;

    &::placeholder {
      color: transparent;
    }
    &:focus {
      outline: 0;
      border: 1px solid rgba(0, 0, 0, 0.50);
      background: #FFFFFF;
      -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 0 0 3px rgba(0, 0, 0, 0.2);
      &::placeholder {
        color: #787E75;
      }
      & +label {
        line-height: 10px;
        transform: scale(.75);
        transform-origin: top left;
        top: 10px;
      }
    }
  }
  label {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: #777E71;
    letter-spacing: 0;
    margin-left: 12px;
    font-size: 14px;
    line-height: 20px;
    position: absolute;
    transform-origin: top left;
    transform: scale(1);
    transition: all .1s ease-in-out;  //speed
    pointer-events: none;
    left: 0;
    top: 14px;
  }
  &.is-hasValue {
    label {
      //move the x coordinate and reduce size
      line-height: 10px;
      top: 10px;
      transform-origin: top left;
      transform: scale(.75);
    }
  }
}
