@import '~@ergeon/core-components/src/components/variables.scss';
.projects-section {
  margin-top: 60px;
  &__project-cards {
    display: flex;
    flex-flow: row wrap;
    margin: -10px -10px 0;
    @include phone() {
      flex-direction: column;
    }
  }
  .card {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 30%;
    max-width: 380px;
    margin: $h-10;
    @include tablet() {
      flex-basis: 50%;
    }
    @include phone() {
      max-width: 100%;
      width: 100%;
      display: flex;
      margin: 10px 0;
    }
    &__img-container {
      position: relative;
      @include phone() {
        margin-right: 20px;
        max-width: 30%;
      }
      img {
        width: 100%;
        border-radius: 2px;
      }
    }
    &__content {
      margin-top: 24px;
      @include phone() {
        margin-top: 0;
      }
      p {
        padding-bottom: 6px;
      }
    }
  }
}
