<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="apple-touch-icon" href="/ergeon-logo.png" />
    <!-- Site verification -->
    <meta name="ahrefs-site-verification" content="61bc53dbe1944efa51f1525d4d4622f26f1b5591c69674d789ef481f295d6bd7" />
    <meta name="google-site-verification" content="G5VXCqECKztk3Qu6D1aOvEU9d8zjoobfMLxQjnsD93o" />
    <meta name="facebook-domain-verification" content="9dryy06dp4boumm06kzohd2mbqchuz" />
    <meta name="p:domain_verify" content="76589da3e980eb289bf856d04b12b55c" />
    <!-- Pinterest account -->

    <script>
      var GTM_KEY = document.location.host === 'www.ergeon.com' ? 'GTM-K83QLN2' : 'GTM-PWDZM7N';
    </script>

    <% if (htmlWebpackPlugin.options.enableSentry) { %>
    <!-- Init sentry as first step, to not miss errors during starting up -->
    <script
      src="https://browser.sentry-cdn.com/5.30.0/bundle.min.js"
      integrity="sha384-V+jCLoAVKKml0VanRLGJGAdKk+Lzo1kRFe079J0majdfeGabOd32KG/2adGnr4N0"
      crossorigin="anonymous"
    ></script>
    <script src="https://browser.sentry-cdn.com/5.30.0/captureconsole.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
        Sentry.init({
          "dsn": <%= htmlWebpackPlugin.options.sentryDSN %>,
          "environment": <%= htmlWebpackPlugin.options.environment %>,
          "integrations": [
            new Sentry.Integrations.CaptureConsole({"levels": <%= htmlWebpackPlugin.options.sentryConsoleLevels %>}),
          ],
          "release": <%= htmlWebpackPlugin.options.sentryRelease %>,
          "ignoreErrors": [
            /* Weird Firefox */
            "can't redefine non-configurable property \"userAgent\"",
            /* Random plugins/extensions */
            "top.GLOBALS",
            /* See: http://blog.errorception.com/2012/03/tale-of-unfindable-js-error.html */
            "originalCreateNotification",
            "canvas.contentDocument",
            "MyApp_RemoveAllHighlights",
            "http://tt.epicplay.com",
            "Can't find variable: ZiteReader",
            "jigsaw is not defined",
            "ComboSearch is not defined",
            "http://loading.retry.widdit.com/",
            "atomicFindClose",
            /* Facebook borked */
            "fb_xd_fragment",
            /*
              ISP "optimizing" proxy - `Cache-Control: no-transform` seems to
              reduce this. (thanks @acdha)
              See http://stackoverflow.com/questions/4113268
            */
            "bmi_SafeAddOnload",
            "EBCallBackMessageReceived",
            /* See http://toolbar.conduit.com/Developer/HtmlAndGadget/Methods/JSInjection.aspx */
            "conduitPage",
            /* External error - https://ergeon.atlassian.net/browse/ENG-3788 */
            'Could not load "util"',
            /*
              From instagram or FB messenger inapp browsers:
              https://developers.facebook.com/community/threads/320013549791141/
            */
            "Can't find variable: _AutofillCallbackHandler",
            /*
              Some weird error coming from navigator.sendBeacon function
              no way to reproduce
            */
            "Illegal invocation",
            "Argument not optional",
            /* Not critical https://stackoverflow.com/a/50387233 */
            "ResizeObserver loop limit exceeded",
            /^Socket server did not execute the callback/,
            /You are currently using minified code outside of NODE_ENV === "production"./,
            // User blocked ads/trackers: https://stackoverflow.com/questions/60174224/refenceerror-uet-is-not-defined/60788592#60788592
            /UET is not defined/,
            // Tawk error https://sentry.io/organizations/ergeon/issues/2440717064/?project=1794736&referrer=slack
            /t[0] is undefined/,
            // Internal android browser issues
            /feature toggles accessed before being set/,
            /Can't find variable: _pcmBridgeCallbackHandler/,
          ],
          "denyUrls": [
            /* Our externals */
            /ads\.nextdoor\.com/,
            /newrelic/,
            /tawk/,
            /* COMMUNITY SUPPORTED */
            /* Facebook */
            /graph\.facebook\.com/i,
            /connect\.facebook\.net\/en_US\/all\.js/i,
            /* Chrome and Safari extensions */
            /extension\//i,
            /extensions\//i,
            /^chrome:\/\//i,
            /^chrome-extension:\/\//i,
            /safari-extension:\(?\/\//i,
            /* Google tag */
            /gtag\/js/i,
            /* Other plugins */
            /127\.0\.0\.1:4001\/isrunning/i, /* Cacaoweb */
            /webappstoolbarba\.texthelp\.com\//i,
            /metrics\.itunes\.apple\.com\.edgesuite\.net\//i,
          ],
        });
    </script>
    <!-- END Sentry Init -->
    <% } %>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />
    <% if (htmlWebpackPlugin.options.isProd) { %>
    <script type="text/javascript" src="/assets/newrelic.js" defer></script>
    <% } %>
  </head>
  <body>
    <div id="root"></div>
    <div id="utm-iframe" style="display: none"></div>

    <!-- Google Tag Manager -->
    <script type="text/javascript" defer>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', GTM_KEY);
    </script>
    <!-- End Google Tag Manager -->
  </body>
</html>
