@import "@ergeon/core-components/src/components/variables.scss";
.search-results {
  padding-top: $v-12;
  .search-result {
    padding-top: $v-12;
    padding-bottom: $v-24;
    border-bottom: 1px solid $gray-4;
    margin-bottom: $v-12;
    &__title {
      color: $black-1;
      font-size: $h5-size;
      line-height: $h5-line-height;
      transition: 0s;
      &:hover {
        text-decoration: underline solid $gray-3;
      }
    }

    &__description {
      font-size: $font-regular-size;
      line-height: $line-height-regular;
      font-family: $font-content;
      font-weight: normal;
      margin-top: $v-6;
      margin-bottom: $v-12;
      transition: 0s;
      &:hover {
        text-decoration: underline solid $gray-4;
      }
    }

    &__breadcrumb {
      font-size: $font-label-size;
      line-height: $line-height-label;
      .breadcrumb-item {
        a {
          text-decoration: none;
          color: $black-3;
        }

        &:hover a {
          color: $black-1;
        }

        &:after {
          color: $gray-2;
          content: '/';
          margin: 0 5px;
        }
      }
    }
  }
}