@import "~@ergeon/core-components/src/components/variables";

.locations-page {
  &.wrapper-1180 {
    margin-top: 60px;
    overflow: hidden;
    margin-bottom: 60px;
    padding-bottom: 60px;
  }

  .paragraph-3 {
    max-width: 400px;
    margin-bottom: 60px;
  }

  .locations {
    display: block;
    justify-content: flex-start;
    align-items: stretch;
  }

  .locations_tile {
    position: relative;
    z-index: 2;
    height: auto;
    min-width: 520px;
    margin-right: 20px;
    padding: 60px;
    float: left;
    background-color: #fff;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
    text-align: left;
    @include border-soft();
  }

  .location_item {
    margin-top: 0px;
    margin-bottom: 24px;
    margin-left: -24px;
    padding-left: 0px;
    font-style: normal;
    text-align: left;
    list-style-type: none;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .header_with_map_icon {
    margin-bottom: 0px;
    padding-left: 34px;
    background-image: url('../../assets/map.svg');
    background-position: 0px 0px;
    background-repeat: no-repeat;
  }

  .p_location {
    padding-left: 34px;
  }

  .p_phone {
    padding-left: 34px;
    a {
      color: $black-2;
      &:hover {
        color: $black-1;
      }
    }

  }


  .nice_view {
    position: relative;
    left: 40%;
    bottom: 60px;
    display: block;
    width: 720px;
    height: 500px;
    float: none;
    background-image: url('../../assets/img-locations.jpg');
    background-position: 0px 0px;
    background-size: 720px;
  }

  .nice_view_map {
    display: none;
  }

  @include tablet {
    .locations__header {
      padding-left: 20px;
    }

    .paragraph-3 {
      margin-bottom: 90px;
    }

    .locations_tile {
      min-width: 540px;
      float: left;
      clear: none;
    }

    .nice_view {
      float: none;
    }
  }

  @include phone {
    &.wrapper-1180 {
      padding-right: 0px;
      padding-left: 0px;
      margin-top: 40px;
      margin-bottom: 40px;
      padding-bottom: 40px;
    }

    .locations__header {
      padding-right: 20px;
    }

    .paragraph-3 {
      margin-bottom: 40px;
    }

    .nice_view_map {
      display: block;
      height: 400px;
      background-image: url('../../assets/img-locations.jpg');
      background-repeat: no-repeat;
    }

    .locations {
      flex-direction: column;
      padding: 20px;
    }

    .locations_tile {
      min-width: 100%;
      max-width: unset;
      margin-top: -220px;
      padding: 40px;
    }

    .location_item {
      margin-left: 0px;
    }

    .header_with_map_icon {
      margin-left: 0px;
      background-position: 0px 0px;
      background-size: auto 20px;
    }

    .nice_view {
      left: 0%;
      display: none;
      width: auto;
      height: 400px;
      background-image: none;
    }
  }

  @include phone-small {
    &.wrapper-1180 {
      text-align: left;
      margin-top: 30px;
      margin-bottom: 30px;
      padding-bottom: 30px;
    }

    .nice_view_map {
      background-position: 50% 0px;
      background-size: cover;
    }

    .locations_tile {
      margin-top: -220px;
      padding: 20px;
    }

    .location_item {
      margin-top: 15px;
      margin-left: 0px;
    }

    .header_with_map_icon {
      margin-left: 0px;
    }
  }
}
