@import '@ergeon/core-components/src/components/variables.scss';

.contacts-page {

  .additional-identifiers {
    display: flex;

    .identifiers-list {
      display: flex;
      flex-wrap: wrap;
    }

    > div:first-child {
      margin-right: $h-5;
    }

    span {
      margin-right: $h-5;
    }
  }
}
