@import '@ergeon/core-components/src/components/variables.scss';

.contacts-page {
  h4 {
    border-bottom: 1px solid rgba($gray-4, 1);
    padding-bottom: $v-16;
    margin-bottom: $v-16;
  }

  .data-row {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 10px;

    > div:first-child {
      margin-right: $h-20;
      font-size: 14px;
      color: $gray-1;
      min-width: 100px;
      max-width: 100px;
      text-align: right;
    }
  }

  .additional-identifiers {
    display: flex;

    .identifiers-list {
      display: flex;
      flex-wrap: wrap;
    }

    > div:first-child {
      margin-right: $h-5;
    }

    span {
      margin-right: $h-5;
    }
  }
}
