@import '~@ergeon/core-components/src/components/variables.scss';

.CustomerApp-BreadCrumbs {
  align-items: center;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;

  .is-Separator {
    margin: 0 $h-5;
  }

  .is-Active {
    font-weight: 600;
  }
}
